<?xml version="1.0" encoding="gb2312" ?>

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %x  %m%n"/>
		</layout>
	</appender>
	<appender name="system" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="d:/ServerHome/DatacheckHome/log/log.txt"/>
		<param name="Append" value="true"/>
		<param name="ImmediateFlush" value="true"/>
		<param name="MaxFileSize" value="10MB"/>
		<param name="MaxBackupIndex" value="50"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %x  %m%n"/>
		</layout>
	</appender>
	<category name="org.apache">
		<priority value="off" />
		<appender-ref ref="console" />
	</category>
	<category name="com.apple">
		<priority value="debug" />
		<appender-ref ref="system" />
	</category>
	<root>
		<priority value ="off" />
		<!-- <appender-ref ref="console" /> -->
	</root>
</log4j:configuration>